<div class="navbar navbar-inverse" role="navigation"> 
		<ul class="nav navbar-nav">
			<li><%= link_to "Home", pages_home_path %></li>
			<li><%= link_to "About", pages_about_path %></li>
      <% if session[:access_token].nil? %>
      <li> <%= link_to "Sign in VK", "https://oauth.vk.com/authorize?client_id=2939839&scope=photos&redirect_uri=http://localhost:3000/session_auth/&response_type=code&method=post" %> </li>			
      <% else %>
        <li><%= link_to "Sign out" %></li>
      <% end %>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Add new user", new_user_path  %></li>
		</ul>
</div> 


